#everything_container{
    max-width: 1500px;
    margin: auto;
    background-color: rgb(255, 255, 255);
}


#L{
  color:blue;
  font-size: 120pt;
  font-family: "Darker Grotesque";
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  position: absolute;
    top: 10%;
    bottom: 0;
    left: 40%;
    right: 0;
  /* border: 10px solid black; */
  width: min-content;
  height: min-content;
}

#A{
  color:blue;
  font-size: 120pt;
  font-family: "Darker Grotesque";
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  position: absolute;
    top: 30%;
    bottom: 0;
    left: 55%;
    right: 0;
  width: min-content;
  height: min-content;
}

#R{
  color:blue;
  font-size: 106pt;
  font-family: Loura;
  font-weight: 400;
  font-style: normal;
  position: absolute;
    top: 55%;
    bottom: 0;
    left: 40%;
    right: 0;
  width: min-content;
  height: min-content;
  /* text-shadow: 
      0 0 41px rgb(0, 208, 255),
      0 0 82px #00d0ff,
      0 0 92px rgb(0, 208, 255),
      0 0 102px rgb(0, 208, 255),
      0 0 151px rgb(0, 208, 255); 
               THANK YOU FOR YOUR SERVICE*/
/* text-shadow: [x-offset] [y-offset] [blur-radius] [color]; */
}

#P{
  color:blue;
  font-size: 120pt;
  font-family: "Darker Grotesque";
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  position: absolute;
    top: 70%;
    bottom: 0;
    left: 55%;
    right: 0;
  width: min-content;
  height: min-content;
}

#whatIsLarp{
  font-family: Darker Grotesque;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 30pt;
  position: absolute;
    top: 230%;
    bottom: 0;
    left: 10%;
    right: 0;
  width: max-content;
  height: min-content;
  color:blue;
  font-kerning: 200px;
}

.paragraph{
  font-family: Darker Grotesque;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 18pt;
  position: absolute;
  
  min-width: 1000;
  max-width: 700;
  height: min-content;
  color:rgb(0, 0, 0);
  letter-spacing: 0.02em;
  line-height: 1.1;
  text-indent: 1em;
}

#whatParagraph{
  top: 242%;
  bottom: 0;
  left: 10%;
  right: 39%;
text-align: left;
padding-right: 30px;
}


#whyLarp{
  font-family: Darker Grotesque;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 30pt;
  position: absolute;
    top: 430%;
    bottom: 0;
    left: 800;
    right: 10%;
  width: max-content;
  height: min-content;
  color:blue;
  font-kerning: 200px;
}

#whyParagraph{
  top: 442%;
  bottom: 0;
  left: 39%;
  right: 10%;
text-align: left;
padding-right: 30px;
}

  
#larpSafety{
  font-family: Darker Grotesque;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 30pt;
  position: absolute;
    top: 630%;
    bottom: 0;
    left: 800;
    right: 10%;
  width: max-content;
  height: min-content;
  color:blue;
  font-kerning: 200px;
}

#safetyParagraph{
  top: 642%;
  bottom: 0;
  left: 39%;
  right: 10%;
text-align: left;
padding-right: 30px;
}

#writeLarp{
  font-family: Darker Grotesque;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 30pt;
  position: absolute;
    top: 830%;
    bottom: 0;
    left: 800;
    right: 10%;
  width: max-content;
  height: min-content;
  color:blue;
  font-kerning: 200px;
}

#writeParagraph{
  top: 842%;
  bottom: 0;
  left: 39%;
  right: 10%;
text-align: left;
padding-right: 30px;
}

    /* so margins help with pushing the gifs around */


    .free-gifs{
      position: absolute;
      z-index: 3;
    }


    #drunk1{
      width: 90px;
      left: 200px;
      top: 260px;
    }

    #drunk2{
      width: 90px;
      right: 400px;
      top: 200px;
    }

    #gipsy1{
      width: 90px;
      left: 50px;
      top: 700px;
    }

    #king1{
      width: 90px;
      right: 500px;
      top: 500px;
    }

    #kiss1{
      width: 80px;
      right: 100px;
      top: 700px;
    }

    #kiss2{
      width: 150px;
      left: 450px;
      top: 500px;
    }

    #dice1{
      width: 190px;
      left: 690px;
      top: 350px;
    }

    #ballerina1{
      width: 250px;
      right: 690px;
      top: 150px;
    }



  /* // <uniquifier>: Use a uniquifier for the class name
  // <weight>: Use a value from 300 to 900 */
  
  .darker-grotesque-titles{
    font-family: "Darker Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

.pinyon-script-regular {
  font-family: "Pinyon Script", cursive;
  font-weight: 400;
  font-style: normal;
}


.montserrat{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

/* .noto-sans-runic-regular {
  font-family: "Noto Sans Runic", sans-serif;
  font-weight: 400;
  font-style: normal;
} */


/* latin */
@font-face {
  font-family: 'forestarms';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Forestarms.otf) format('otf');
}

@font-face {
  font-family: 'Loura';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/LouraRegular.ttf) format('truetype');
}

@font-face {
  font-family: 'DarkerGrotesque';
  font-style: normal;
  font-weight: 300;
  src: url(fonts/DarkerGrotesque-VariableFont_wght.ttf) format('truetype');
}
