#everything_container{
    max-width: 1500px;
    margin: auto;
    background-color: antiquewhite;
}



#L{
  color:blue;
  font-size: 120pt;
  font-family: "Darker Grotesque";
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  position: absolute;
    top: 80%;
    bottom: 0;
    left: 40%;
    right: 0;
}

#A{
  color:blue;
  font-size: 120pt;
  font-family: "Darker Grotesque";
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  position: absolute;
    top: 100%;
    bottom: 0;
    left: 55%;
    right: 0;
}

#R{
  color:blue;
  font-size: 100pt;
  font-family: "Noto Sans Runic", sans-serif;
  font-weight: 400;
  font-style: normal;
  position: absolute;
    top: 125%;
    bottom: 0;
    left: 40%;
    right: 0;

  text-shadow: 
      0 0 41px rgb(0, 208, 255),
      0 0 82px rgb(0, 208, 255),
      0 0 92px rgb(0, 208, 255),
      0 0 102px rgb(0, 208, 255),
      0 0 151px rgb(0, 208, 255);
/* text-shadow: [x-offset] [y-offset] [blur-radius] [color]; */
}

#P{
  color:blue;
  font-size: 120pt;
  font-family: "Darker Grotesque";
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  position: absolute;
    top: 140%;
    bottom: 0;
    left: 55%;
    right: 0;
}


/* .rightColumn h1{
  /* margin-top: 300%;
  margin-right: 100%;
}
   */
  
  /* this is for the letters A & P that spilled off the sides. I just carried (A for now) on this column so they could be visible */









/* .gridContainer {
    display: grid;
    /* grid-template-columns:repeat(10, 1fr);
    grid-template-rows: repeat(9, 1fr);
      THIS IS THE GRID I MADE INITIALLY, it's like a print grid tbh */
    /* grid-template-columns: 4fr 1fr 1fr 4fr;
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap:    0; 
  } */
  
/* .gridContainer > div{
  background: #eee;
}

.gridContainer > div:nth-child(odd){
  background: #a7a4a4;
} 
/* this is for visial distinction, only for me as a demo
for this to work, i gotta put each element in a different div */

/* .sideGifSpace, .topGifSpace{
  border: 1px solid rgba(0, 0, 0, 0.8);
} */ */ */

  /* .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 70px;
    min-width: 100px;
    max-width: 200px;
    min-height: 250px;
  } */



  /* // <uniquifier>: Use a uniquifier for the class name
  // <weight>: Use a value from 300 to 900 */
  
  .darker-grotesque-h1{
    font-family: "Darker Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

.pinyon-script-regular {
  font-family: "Pinyon Script", cursive;
  font-weight: 400;
  font-style: normal;
}


.montserrat{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.noto-sans runic-regular {
  font-family: "Noto Sans Runic", sans-serif;
  font-weight: 400;
  font-style: normal;
}